.hashtag {
  width: 100px;
  height: 50px;
  font-size: 30px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  border: 3px solid #daa2dd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #daa2dd;
}
.hashtag:hover {
  transition: all 0.2s;
  background: #eaa2ea;
}

.hashtag > p {
  font-size: 3rem;
  margin: 0 auto;
  display: inline;
  color: #fff;
}
